   /*html {
    color: #e1b12c #ffdd59 #718093 #7f8fa6 #353b48 #2f3640 #1e272e #f5f6fa;*/
   
   html {
       font-family: Verdana;
       font-size: 16px;
   }
   /*Títulos*/
   
   h3 {
       text-align: center;
       font-size: 30px;
       padding: 20px;
   }
   
   .flotar-izq {
       float: left;
   }
   
   .flotar-der {
       float: right;
   }
   /*button*/
   
   .btn {
       /*todos los elementos serán iguales*/
       background-color: #ffa502;
       border: #333 solid 2px;
       border-radius: 10px;
       margin-left: auto;
       margin-right: auto;
       /*para redondear*/
       font-size: 18px;
       padding: 15px;
       margin: 30px -160px;
       position: relative;
       top: 50%;
       left: 50%;
   }
   /*Funcionalidades*/
   
   .error {
       border: 2px solid #B53471
   }
   
   .ocultar {
       display: none;
   }
   
   .active {
       color: red;
   }
   
   .btn:hover {
       color: red;
   }
   /*Header*/
   /*NAVIGATION*/
   
   ul {
       list-style: none;
   }
   
   .logo {
       width: 98%;
       margin: auto;
       padding: 15px;
   }
   
   .nav-main {
       font-size: 18px;
       display: flex;
       justify-content: space-between;
       align-items: center;
       height: 60px;
       padding: 20px 0;
   }
   
   .imglogo {
       border-radius: 10px;
       width: 150px;
   }
   /*nav-izq*/
   
   .nav-main ul {
       display: flex;
   }
   
   .nav-main ul li {
       padding: 10px;
   }
   
   .nav-main ul li a {
       padding: 3px;
   }
   
   .nav-main ul li a:hover {
       border-bottom: 2px solid #fff;
   }
   
   .nav-main ul.nav-izq {
       flex: 1;
       margin-left: 20px;
   }
   
   .header-principal .nav-main a,
   .header-principal .nav-der a {
       color: #fff;
       text-decoration: none;
   }
   
   .header-principal .nav-main a:hover,
   .header-principal .nav-der a:hover {
       color: #f5f6fa(255, 123, 0);
       text-decoration: underline;
   }
