        html {
            font-family: Verdana;
            font-size: 16px;
            color: #e1b12c;
            background-color: rgb(59, 59, 59);
            background: radial-gradient(circle, rgba(59, 59, 59, 1) 0%, rgba(31, 31, 31, 1) 25%, rgba(0, 0, 0, 1) 100%);
        }
        
        body {
            background: rgb(59, 59, 59);
            background: radial-gradient(circle, rgba(59, 59, 59, 1) 0%, rgba(31, 31, 31, 1) 25%, rgba(0, 0, 0, 1) 100%);
        }
        
        h3 {
            text-align: center;
            font-size: 30px;
            padding: 20px;
        }
        /*Anuncios*/
        
        .slideshow-container {
            background: rgb(59, 59, 59);
            background: radial-gradient(circle, rgba(59, 59, 59, 1) 0%, rgba(31, 31, 31, 1) 25%, rgba(0, 0, 0, 1) 100%);
        }
        /*button*/
        /*.btn {
            background-color: #ffa502;
            border: #333 solid 2px;
            border-radius: 10px;
            margin-left: auto;
            margin-right: auto;
            font-size: 18px;
            padding: 15px;
            margin: 30px -160px;
            position: relative;
            top: 50%;
            left: 50%;
        }*/
        
        .btn:active {
            background-color: #c2961f;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
        
        .btn {
            background-color: #606460;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-size: 18px;
            margin-block-end: 0px;
            outline: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            margin: 30px -160px;
            position: relative;
            top: 50%;
            left: 50%;
        }
        
        .btn:hover {
            background-color: #c2961f
        }
        /*Socios estrellas*/
        
        .socios-estrellas {
            background: rgb(59, 59, 59);
            background: radial-gradient(circle, rgba(59, 59, 59, 1) 0%, rgba(31, 31, 31, 1) 25%, rgba(0, 0, 0, 1) 100%);
        }
        
        .socios-estrellas h3 {
            padding: 50px;
        }
        
        .tbl-socios-estrellas tbody .titulo-caja {
            width: 33%;
            justify-content: center;
            text-align: center;
            padding: 10px;
        }
        
        .tbl-socios-estrellas tbody img {
            width: 60%;
            justify-content: center;
            margin: auto;
            display: block;
            padding: 10px;
            border-radius: 15px;
        }
        
        .tbl-socios-estrellas tbody .patitas {
            width: 33%;
            justify-content: center;
            text-align: center;
            padding: 30px;
        }
        /*Testimonios*/
        
        .testimonios {
            padding: 30px;
            border-radius: 20px;
        }
        
        .mySlidesDos {
            background: rgb(59, 59, 59);
            background: radial-gradient(circle, rgba(59, 59, 59, 1) 0%, rgba(31, 31, 31, 1) 25%, rgba(0, 0, 0, 1) 100%);
            padding: 30px;
            border-radius: 20px;
        }
        /*Testimonios*/
        /*Texto de cada imagen de los deslizadores*/
        
        .text-title {
            padding: 30px;
            text-decoration: underline;
            font-size: 20px;
        }
        
        .text {
            padding: 50px;
            font-size: 16px;
            font-weight: bold;
        }
        
        .mySlidesDos {
            background: rgb(59, 59, 59);
            background: radial-gradient(circle, rgba(59, 59, 59, 1) 0%, rgba(31, 31, 31, 1) 25%, rgba(0, 0, 0, 1) 100%);
            border: #ffb259;
        }
        /*Servicios destacados*/
        
        .servicios-destacados {
            background: rgb(59, 59, 59);
            background: radial-gradient(circle, rgba(59, 59, 59, 1) 0%, rgba(31, 31, 31, 1) 25%, rgba(0, 0, 0, 1) 100%);
            padding: 30px;
        }
        
        .servicios-destacados h3 {
            text-align: center;
            font-size: 30px;
            padding: 20px 20px;
            padding-bottom: 50px;
        }
        
        .tbl-servicios-destacados tbody .titulo-caja {
            width: 20%;
            justify-content: center;
            text-align: center;
        }
        
        .tbl-servicios-destacados tbody img {
            border-radius: 25px;
            width: 100%;
            justify-content: center;
            margin: auto;
            display: block;
            padding: 20px;
        }
        /*Beneficios*/
        
        .beneficios {
            display: flex;
            min-height: 400px;
            background: rgb(59, 59, 59);
            background: radial-gradient(circle, rgba(59, 59, 59, 1) 0%, rgba(31, 31, 31, 1) 25%, rgba(0, 0, 0, 1) 100%);
            padding: 30px;
        }
        
        .beneficios .beneficios-txt {
            background-image: url('../img/background-mascotas-gato.jpg');
            border-radius: 20px;
            padding: 0px 30px;
            background-size: cover;
            width: 50%;
        }
        
        .beneficios .beneficios-txt h3 {
            font-size: 25px;
            color: white;
        }
        
        .beneficios .beneficios-img {
            background-image: url('../img/background-mascotas-perros.jpg');
            border-radius: 20px;
            background-size: cover;
            width: 50%;
        }
        
        .beneficios .beneficios-txt ul li {
            margin: 0 0 20px 0;
            padding: 25px;
            font-size: 18px;
            color: white;
        }