html {
    font-family: Verdana;
    font-size: 16px;
    color: #e1b12c;
    background-color: rgb(59, 59, 59);
    background: radial-gradient(circle, rgba(59, 59, 59, 1) 0%, rgba(31, 31, 31, 1) 25%, rgba(0, 0, 0, 1) 100%);
    /*color: #e1b12c #ffdd59 #718093 #7f8fa6 #353b48 #2f3640 #1e272e #f5f6fa;*/
}


/*Botón*/

.btn:active {
    background-color: #c2961f;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn {
    background-color: #606460;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    margin-block-end: 0px;
    outline: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 30px -100px;
    position: relative;
    top: 50%;
    left: 50%;
}

.btn:hover {
    background-color: #c2961f
}


/*Misión y visión*/

.mision-vision {
    padding: 60px;
}


/*header*/

.header-equipo img {
    width: 30%;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.equipo {
    padding: 15px;
    border-bottom: rgba(19, 18, 18, 0.7) 3px solid;
    color: #ffdd59;
}

.mision,
.vision,
.valores {
    text-align: center;
    padding: 15px;
    border-bottom: rgba(19, 18, 18, 0.7) 3px solid;
    color: #ffdd59;
}

h1 {
    border: 15px;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    color: #e1b12c;
    font-weight: 100;
}

h2 {
    padding: 30px;
    text-align: center;
    font-size: 30px;
    color: #e1b12c;
    text-decoration: underline;
}

.text-title {
    padding: 30px;
    text-decoration: underline;
    color: #e1b12c;
    font-size: 20px;
    text-align: center;
}

.text {
    padding: 50px;
    color: #ffdd59;
    font-size: 16px;
    text-align: center;
}


/*Tabla*/

.tabla {
    margin: 0 auto;
    text-align: left;
}

.tabla tr {
    height: 35px;
    text-align: center;
}

.tabla thead tr {
    background: #e1b12c;
    color: #fff;
    text-align: center;
}

.tabla thead tr th {
    width: 200px;
    text-align: center;
}

.tabla tbody tr:nth-child(even) {
    background: #e1b12c;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-bottom: black;
}

.tabla tbody tr td {
    width: 200px;
    text-align: center;
    padding: 10px;
    color: #e1b12c;
}


/*Títulos*/

.flotar-izq {
    float: left;
}

.flotar-der {
    float: right;
}


/*Funcionalidades*/

.error {
    border: 2px solid red;
}

.ocultar {
    display: none;
}


/*.active {
    color: red;
}

.btn:hover {
    color: red;
}*/


/*Header*/


/*NAVIGATION*/

.header-principal {
    background-color: black;
    color: white;
}

ul {
    list-style: none;
}

.logo {
    width: 98%;
    margin: auto;
    padding: 15px;
}

.imglogo {
    border-radius: 5px;
    width: 180px;
    padding: 35px;
    border-radius: 40px;
}

.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}


/*nav-izq*/

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 100px;
}

.nav-main ul li a {
    padding: 1px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid #fff;
}

.nav-main ul.nav-izq {
    flex: 1;
    margin-left: 20px;
}

.header-principal .nav-main a,
.header-principal .nav-der a {
    color: #fff;
    text-decoration: none;
}

.header-principal .nav-main a:hover,
.header-principal .nav-der a:hover {
    color: #f5f6fa(255, 123, 0);
}


/*Valores*/

.valores table {
    margin: 0 auto;
    text-align: left;
}

.valores table tr {
    height: 35px;
    text-align: center;
}

.valores table td {
    text-align: center;
}