footer {
    margin-top: 150px;
}

html {
    font-family: Verdana;
    font-size: 16px;
    color: #e1b12c;
}

body {
    /*height: 100%;*/
    /*min-height: 100%;*/
    /*overflow-x: hidden;*/
    background: radial-gradient(circle, rgba(59, 59, 59, 1) 0%, rgba(31, 31, 31, 1) 40%, rgba(0, 0, 0, 1) 100%);
}

.main {
    max-height: 200px;
    margin-bottom: 136px;
    padding-bottom: 20px;
}

h1 {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    color: white;
    text-align: center;
}

.txt-filtro {
    align-items: center;
    text-align: center;
    color: #e1b12c;
    width: 400px;
}

main a {
    font-size: 20px;
    padding: 5px;
    color: green;
    text-decoration: none;
}

main b {
    font-size: 20px;
    padding: 5px;
    color: red;
    text-decoration: none;
}

.tabla {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
}

.tabla tr {
    height: 35px;
    text-align: center;
}

.tabla thead tr {
    background: #e1b12c;
    color: #f5f6fa;
    text-align: center;
}

.tabla thead tr th {
    padding: 10px 0;
    width: 200px;
    text-align: center;
}

.tabla tbody tr td {
    padding: 10px 0;
    color: #f5f6fa;
    background: #5a5a5a;
    width: 200px;
    text-align: center;
}

.tabla tbody tr {
    border-bottom: 2px solid #e1b12c;
}

main button {
    width: 100px;
}