footer {
    margin-top: 150px;
}

html {
    font-family: Verdana;
    font-size: 16px;
    color: #e1b12c;
    background: radial-gradient(circle, rgba(59, 59, 59, 1) 0%, rgba(31, 31, 31, 1) 25%, rgba(0, 0, 0, 1) 100%);
}

body {
    background: radial-gradient(circle, rgba(59, 59, 59, 1) 0%, rgba(31, 31, 31, 1) 25%, rgba(0, 0, 0, 1) 100%);
}

h1 {
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.tabla {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
}

.tabla tr {
    height: 35px;
    text-align: center;
}

.tabla thead tr {
    background: #e1b12c;
    color: #f5f6fa;
    text-align: center;
}

.tabla thead tr th {
    padding: 10px 0;
    width: 200px;
    text-align: center;
}

.tabla tbody tr td {
    padding: 10px 0;
    color: #f5f6fa;
    background: #5a5a5a;
    width: 200px;
    text-align: center;
}

.tabla tbody tr {
    border-bottom: 2px solid #e1b12c;
}

main button {
    width: 100px;
}