html {
    font-family: Verdana;
    font-size: 16px;
    color: #e1b12c;
    background-color: rgb(59, 59, 59);
    background: radial-gradient(circle, rgba(59, 59, 59, 1) 0%, rgba(31, 31, 31, 1) 25%, rgba(0, 0, 0, 1) 100%);
}

body {
    background: rgb(59, 59, 59);
    background: radial-gradient(circle, rgba(59, 59, 59, 1) 0%, rgba(31, 31, 31, 1) 25%, rgba(0, 0, 0, 1) 100%);
}

h1 {
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.tabla {
    margin: 0 auto;
    text-align: left;
}

.tabla tr {
    height: 35px;
    text-align: center;
}

.tabla thead tr {
    background: #e1b12c;
    color: #fff;
    text-align: center;
}

.tabla thead tr th {
    width: 200px;
    text-align: center;
}

.tabla tbody tr:nth-child(even) {
    background: #ffdd59;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-bottom: black;
}

.tabla tbody tr td {
    width: 200px;
    text-align: center;
    padding: 10px;
}